/* Sponsor Cards Container */
#sponsor-cards {
  height: 400px;
  width: 100%;
  transform: rotate(calc(10deg * (var(--card-index, 0) - 1)));
}

.grid {
  gap: 2rem;
}

.sponsor-card {
  border: 0.3px solid #777171;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.username {
  font-size: small;
  margin-bottom: 0.5rem;
}

.sponsor-button {
  color: #fff;
  border: 0.3px solid #777171;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.heart-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../assets/hearth-icon.svg") no-repeat center center;
  background-size: contain;
  margin-right: 8px;
}

/* Grid Yapısı */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.border-beige {
  border-color: beige;
}

#card {
  height: 500px;
  width: 100%;
  max-width: 100%;
  transform-origin: center;
  background: #121820;
  transition: transform 0.3s ease, background 0.3s ease;
}

h2 {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
}

h2 span {
  padding: 2px;
  font-size: 1.2em;
}

h2::after {
  content: "";
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #e5e4f7;
  z-index: -1;
}

p {
  margin-top: 1rem;
  color: #d1d5db;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

p span {
  margin-left: 0.5rem;
}

p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  background-color: #000;
  transition: width 0.3s;
}

p:hover::after {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}